.container-sm {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto auto;
  grid-auto-flow: row;
}

.card {
  width: 18rem;
  border-radius: 2px;
}

.input-form {
  padding: 10px;
}
