.container-sm {
    display: grid;
    /* column-gap: 20px; */
    /* row-gap: 10px; */
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
}

.card {
    width: 18rem;
    border-radius: 2px;
}

#card-1 {
    background-color: #ff7eb9;
}

#card-2 {
    background-color: #ff65a3;
}

.input-form {
    padding: 10px;
}